.wider {
  width: 80%;
  height:50%;
}

.menu-button-spacer {
  margin-left: 40px;
  float: right;
}
.example-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex-shrink: 1;
  flex-grow: 2;
  flex-basis: auto;
}

#progressMessage {
  background-color: #ffe57f;
  color: #f44336;
  margin-left: 20px;
}

iframe {
  height: calc(100vh - 20px);
  width: calc(100vw - 40px);
}

.arrowFwd {
  margin-top: 5px;
}
