.wider {
  width: 400px;
  height:60%;
}
/*.opaque{*/
  /*opacity :0;*/
/*}*/
/*.fa-spinner{*/
  /*opacity :0.2;*/
/*}*/
/*.ops{*/
  /*opacity :0;*/
/*}*/
/*#progressSpinner {*/
  /*display: none;*/
/*}*/

.menu-button-spacer {
  margin-left: 40px;
  float: right;
}
.example-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex-shrink: 1;
  flex-grow: 2;
  flex-basis: auto;
}

#progressMessage {
  background-color: #ffe57f;
  color: #f44336;
  margin-left: 20px;
}

/*iframe{*/
  /*width: 1px;min-width: 100%;*/
/*}*/

iframe {
  height: calc(100vh - 20px);
  width: calc(100vw - 40px);
}
