.wider {
  width: 400px;
}
/*.opaque{*/
  /*opacity :0;*/
/*}*/
/*.fa-spinner{*/
  /*opacity :0.2;*/
/*}*/
/*.ops{*/
  /*opacity :0;*/
/*}*/
/*#progressSpinner {*/
  /*display: none;*/
/*}*/

.menu-button-spacer {
  margin-left: 20px;
  margin-left: 40px;
  float: right;
}
.example-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex-shrink: 1;
  flex-grow: 5;
  flex-basis: auto;
}
